<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input [(ngModel)]="searchText" (keyup)="onKeyUpSearchText()" type="text" class="form-control" placeholder="Search hospitals">
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-8">
            <h3 class="card-title">Registered hospitals: <span class="badge badge-secondary">{{totalItems}}</span></h3>
          </div>
          <div class="col-4 text-right">
            <button type="button" (click)="addHospitalModal()" class="btn btn-primary"><i class="fa fa-plus"></i> Add Hospital</button>
          </div>
        </div>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th class="val-middle">Image</th>
            <th class="val-middle">name</th>
            <th class="val-middle">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hospital of hospitals | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: totalItems }">
            <td class="w70 val-middle">
              <img (click)="openUploadImageModal(hospital)" [src]="hospital.image | image: 'hospital' " class="img-50 img-circle pointer">
            </td>
            <td class="val-middle"><input [(ngModel)]="hospital.name" type="text" class="form-control"></td>
            <td class="w120 val-middle">
              <button *ngIf="isUserAdmin()" (click)="handleUpdateHospital(hospital)" class="btn btn-primary"><i class="fa fa-save"></i></button>
              <button *ngIf="isUserAdmin()" (click)="handleDeleteHospital(hospital)" class="btn btn-danger  ml-2"><i class="fa fa-trash-o"></i></button>
            </td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="12">
              <div class="text-right">
                <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
              </div>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBackgroundColour: 'rgba(0, 0, 0, 0.05)' }" class="animated fadeIn"></ngx-loading>
</div>
