<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Themes</h3>
        <div class="r-panel-body">
          <ul id="themecolors" class="m-t-20">
            <li><b>Sidebar Light</b></li>
            <li><a #linkThemeDefault (click)="changeTheme('default', linkThemeDefault)" data-theme="default" class="selector default-theme">1</a></li>
            <li><a #linkThemeGreen (click)="changeTheme('green', linkThemeGreen)" data-theme="green" class="selector green-theme">2</a></li>
            <li><a #linkThemeRed (click)="changeTheme('red', linkThemeRed)" data-theme="red" class="selector red-theme">3</a></li>
            <li><a #linkThemeBlue (click)="changeTheme('blue', linkThemeBlue)" data-theme="blue" class="selector blue-theme">4</a></li>
            <li><a #linkThemePurple (click)="changeTheme('purple', linkThemePurple)" data-theme="purple" class="selector purple-theme">5</a></li>
            <li><a #linkThemeMegna (click)="changeTheme('megna', linkThemeMegna)" data-theme="megna" class="selector megna-theme">6</a></li>

            <li class="d-block m-t-30"><b>Sidebar Dark</b></li>
            <li><a #linkThemeDefaultDark (click)="changeTheme('default-dark', linkThemeDefaultDark)" data-theme="default-dark"
                   class="selector default-dark-theme">7</a></li>
            <li><a #linkThemeGreenDark (click)="changeTheme('green-dark', linkThemeGreenDark)" data-theme="green-dark"
                   class="selector green-dark-theme">8</a></li>
            <li><a #linkThemeRedDark (click)="changeTheme('red-dark', linkThemeRedDark)" data-theme="red-dark" class="selector red-dark-theme">9</a>
            </li>
            <li><a #linkThemeBlueDark (click)="changeTheme('blue-dark', linkThemeBlueDark)" data-theme="blue-dark"
                   class="selector blue-dark-theme">10</a></li>
            <li><a #linkThemePurpleDark (click)="changeTheme('purple-dark', linkThemePurpleDark)" data-theme="purple-dark"
                   class="selector purple-dark-theme">11</a></li>
            <li><a #linkThemeMegnaDark (click)="changeTheme('megna-dark', linkThemeMegnaDark)" data-theme="megna-dark"
                   class="selector megna-dark-theme">12</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

