.pointer{
  cursor: pointer;
}

.w50 {
  width: 50px;
}

.w70 {
  width: 70px;
}

.w100 {
  width: 100px;
}

.w120 {
  width: 120px;
}

.w150 {
  width: 150px;
}

.w180 {
  width: 180px;
}

.w190 {
  width: 190px;
}

.val-middle {
  vertical-align: middle !important;
}

.img-50 {
  width: 50px;
}
