<div class="row">
  <div class="col-6">
    <app-donut-chart [title]="graphics.chart1.title" [data]="graphics.chart1.data" [labels]="graphics.chart1.labels"></app-donut-chart>
  </div>
  <div class="col-6">
    <app-donut-chart [title]="graphics.chart2.title" [data]="graphics.chart2.data" [labels]="graphics.chart2.labels"></app-donut-chart>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <app-donut-chart [title]="graphics.chart3.title" [data]="graphics.chart3.data" [labels]="graphics.chart3.labels"></app-donut-chart>
  </div>
  <div class="col-6">
    <app-donut-chart [title]="graphics.chart4.title" [data]="graphics.chart4.data" [labels]="graphics.chart4.labels"></app-donut-chart>
  </div>
</div>
